PyQt5==5.15.11
PyQt-Fluent-Widgets==1.7.6
PyOpenGL==3.1.9
pypiwin32==223
live2d-py==0.3.6
dashscope==1.22.1
requests==2.32.3
PyAudio==0.2.14
numpy==2.2.3
websocket-client==1.8.0
mss==10.0.0
flask==3.1.0